:root {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.content, .fishcontent {
    border: solid 5px black;
    border-radius: 10%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fishcontent {
    backdrop-filter: blur(10px);
}

img, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#per {
    width: 300px;
    border-radius: 15%;
}

.hav {
    background-image: url(bubbles.jpg)
}

.pingis {
    background-color: aquamarine;
}